.align-right{
	text-align: right;
}
.jstable{
	margin: 5px;
	padding: 5px;
	border: 2px solid #4A4A4A;
	background-color: #D3D3D3
}
.jsthead{
	background-color: #F7881A;
	color: #1B1B1B;
}
.jstbody{
	background-color: #C1C1C1;
}
.jstd-and-th{
	padding: 5px;
}
.table-search{
	margin-left: 5px;
	margin-right: 5px;
}
.sort-btn{
	margin-left: 4px;
}
.id{
	font-weight: 700;
}